<!doctype html>
<html lang="fr">
    
    <head>
        <% include head %>
    </head>

    <body class="container" style="padding-top: 15px;">
        <div>
            <h2>Description of our project :</h2>
            <p> 
                This project is our first app using express and ejs librairies.
            </p> 
            <p>Type the url localhost:1337/hello/name to see what we have done</p>
                
             <p class="text-success"><strong>Enjoy !</strong> </p>
            
        </div>
    </body>
</html>
